<div class="container mt-5">
    <div class="row fs-4 mb-3">
      <div class="col-12">My Projects</div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Kanban Board</h5>
            <p class="card-text">Visual Project Management Tool</p>
            <a href="javascript:void(0)" routerLink="kanban-board" class="btn btn-primary">View project</a>
          </div>
        </div>
      </div>
    </div>
  </div>